.invoice-preview-live .invoice-preview {
  border-style: solid !important;
  border-color: #0080ff !important;
  border-width: 1px !important;
}

.invoice-preview--export {
  border: none !important;
  box-shadow: none !important;
}
